<div class="matrix-page">
  <div class="matrix-page__title">
    <h1>Matrix</h1>
  </div>
  <div class="d-flex flex-row justify-content-center"
    *ngFor="let row of numberArr.slice(0, numberArr.length / numberItem % 1 === 0 ? numberArr.length / numberItem : numberArr.length / numberItem + 1); let idx = index">
    <p class="matrix-page__item"
      [ngClass]="{'matrix-page__item--is-prime': i.selected && isCheckPrime(i.item), 'matrix-page__item--is-not-prime': i.selected && !isCheckPrime(i.item)}"
      *ngFor="let i of numberArr.slice(idx * numberItem, idx * numberItem + numberItem)" (click)="onSelect(i)">{{ i.item
      }}</p>
  </div>
</div>