.matrix-page {
  padding: 20px 20%;
  justify-content: center;
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__item {
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin: 2px;
    border: 1px solid #cccccc;
    text-align: center;
    cursor: pointer;
    &--is-prime {
      background-color: red;;
    }
    &--is-not-prime {
      background-color: yellow;
    }
    }
}